*,
*::before,
*::after {
	box-sizing: border-box;
}

table {
	border-top: 1px solid #e5e7eb;
	border-left: 1px solid #e5e7eb;
	border-spacing: 0;
	text-align: center;
}

thead tr {
	background: #fbfbfb;
}

thead tr th {
	padding: 0.5rem 2rem;
	border-right: 1px solid #e5e7eb;
	border-bottom: 1px solid #e5e7eb;
}

tbody tr td {
	height: 4rem;
	border-bottom: 1px solid #e5e7eb;
	border-right: 1px solid #e5e7eb;
	padding: 0.5rem 0.5rem;
	font-weight: 300;
}

tbody tr:nth-child(2n) {
background-color: #fcfcfc;
}

tbody tr.total-row {
	background: #fbfbfb;
}

.total-row td {
	padding: 0.5rem 2rem;
	font-weight: bold;
}

.longest-events {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
